header{
    width: 100%;
    height: 120px;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
}
header .Logo{
    width: 160px;
    height: 110px;
    margin-left: 20px;
}
header img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
nav{
    height: 100%;
    display: flex;
    align-items: center;
     padding-left: 45%;
  /* background-color: tomato; */
}
nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 20px;
}
nav ul li{
    font-size: 18px;
    font-weight: 500;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
}
nav ul li a:hover{
    background-color: #1bc7ef;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}
/* nav ul li a:hover{
    cursor: pointer;
    color: #1bc7ef;     
}
nav ul li a::after{
    content: '';
    display: block;
    width: 0;
    margin: 0 auto;
    height: 2px;
    background: #1bc7ef;
    transition: width .3s;
}
nav ul li a:hover::after{
    width: 100%;
} */
.AuthBtn{
    margin-right: 20px;
}
.AuthBtn button{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    background-color: white;
}
.AuthBtn .LoginBtn:hover{
    background-color: #1bc7ef;
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}